<%- include('header'); -%>
    <%- include('barra-lateral'); -%>

        <%- include('barra-conversas'); -%>

            <% if (canal==1) { %>
                <h2>
                    <% console.log(canal) %>
                </h2>



                <% }else { %>
                    <%- include('chat'); -%>
                        <% } %>

                            <%- include('footer'); -%>